<html>
    <head>
        <style>
            table, th, td {
                border-collapse: collapse;
                padding: 5px;
                border: 1px solid black;
                vertical-align: top;
                text-align: center;
            }
            th {
                color:white;
                background-color:#ce1126;
            }
            h4, p, ul, li {
                margin:0;
            }
        </style>
    </head>
    <body>
        <p>Parts A, B, and C of the BSA health form are required to be completed prior to Scout's arriving at Summer Camp.  Below are the last update dates for each section of <span style="font-weight: bold;color:#ce1126;text-transform: uppercase;">%JSONValue%local temp.value.name%</span>'s Health Form.  Any sections marked with a red &#128721; are missing or expired and must be updated BEFORE departing for camp.</p>
        <p>&emsp;</p>
        <table width="50%">
            <tr>
                <th>Health Form Part</th>
                <th>Last Update Date & Status</th>
            </tr>
            <tr>
                <td>Part A</td>
                <td>%JSONValue%local temp.value.PartA%</td>
            </tr>
            <tr>
                <td>Part B</td>
                <td>%JSONValue%local temp.value.PartB%</td>
            </tr>
            <tr>
                <td>Part C</td>
                <td>%JSONValue%local temp.value.PartC%</td>
            </tr>
        </table>
        <p>&emsp;</p>
        <p style="color:red;font-weight:bold;text-decoration: underline;">ACTION ITEMS:</p>
        <ul>
            <li>Print and sign a permission slip from TroopTrack for your Scout.  (<a href="https://troop457zelie.org/ufaq/how-do-i-generate-a-permission-slip-from-trooptrack/">INSTRUCTIONS</a>)</li>
            <li>If one or more parts of Health Form are marked with a &#128721; above, you MUST complete the following:</li>
            <ul>
                <li>Visit the <a href="https://troop457zelie.org/ufaq/how-do-i-complete-the-bsa-health-form/">How do I complete the BSA Health Form?</a> FAQ on the Troop Website to learn how to complete the Health Form and download an fillable electronic copy.</li>
                <li>Take some time before Sunday to complete and sign a Health Form for each individual listed above.  <b><i>Completing the form on Sunday will delay our departure.</i></b></li>
                <li><b><u>REMINDERS:</u></b></li>
                    <ul>
                        <li>Part C of the Health Form must be compelted by a licensed Medial Professional.</li>
                        <li>You must include a copy of the individual's insurance card along with their health form.</li>
                        <li>All sections must be signed and dated.  This includes the participant's signature on page 1.</li>
                    </ul> 
                <li>Bring a paper copy of the completed and signed form(s) with you on Sunday and turn them into the Mr. Matusiak or I.</li>
            </ul>
        </ul>
        <p>&emsp;</p>
        <p>If you are concerned about forgetting these files, you may email a scanned copy of the files to me at <a href="mailto:tmaloney@lazy-shamrock.com">tmaloney@lazy-shamrock.com</a> or text it to <a href="tel:4123036338">(412) 303-6338</a> by noon on Saturday as a backup, but the printed form must be turned in.</p>
        <p>&emsp;</p>
        <p>Please call, text, or email me any questions.</p>
        <p>&emsp;</p>
        <p>Yours in Scouting,<br>Mr. Maloney</p>
    
    </body>
</html>
