<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border-collapse: collapse;
                padding: 5px;
                border: 1px solid black;
                vertical-align: top;
            }
            th {
                color:white;
                background-color:#ce1126;
            }
            h4, p, ul, li {
                margin:0;
            }
        </style>
    </head>
    <body>
        <p>Twice annually, «UNIT NAME» conducts a review of the information within our TroopTrack instance to ensure the information remains accurate.  Please review the table below of all members of your household and complete the listed action items (if applicable) to resolve any identified issues.</p>
        <p>&emsp;</p>
        <table id="errorCheck">
            <tr>
                <th>TroopTrack Data</th>
            </tr>
            <tr>
                <td>BSA ID</td>
            </tr>
            <tr>
                <td>Username</td>
            </tr>
            <tr>
                <td>Email Address</td>
            </tr>
            <tr>
                <td>Drivers License</td>
            </tr>
            <tr>
                <td>Health Form</td>
            </tr>
            <tr>
                <td>Mobile # and Carrier</td>
            </tr>
            <tr>
                <td>Scout Account Balance</td>
            </tr>
        </table>
        <p>&emsp;</p>
        <p style="font-size: small;"><b><u>KEY:</u></b>&emsp;&#128721; Issue identified and immediate action is needed.&emsp;&#9888; Recommendation identified or flagged for awareness.&emsp;&#128994; No issues identified.</p>
        </ul>
       
        <p>&emsp;</p>
        <p>Please contact me at «CONTACT INFO» if you have any questions, comments or concerns.</p>
        <p>&emsp;</p>
        <p>«SIGNATURE»</p>
        <p>&emsp;</p>
        <h4>REFERENCE INFORMATION</h4>
        <ul>
            <li>Request TroopTrack User Account</li>
            <li>Apply</li>
            <li></li>
        </ul>
    
    </body>
</html>