<html>
<style>
     div {
            padding-bottom: 10px;
        }
</style>
<body>
    <div class="privileges_div">
        <form class="new_manage_user_privileges" id="new_manage_user_privileges" role="form"
            action="/manage/users/663708/user_privileges" accept-charset="UTF-8" method="post">
            <div class="form-group"><label class="required" for="manage_user_privileges_access_level">Select Position</label>
                <select class="form-control" name="manage_user_privileges[position]"
                    id="manage_user_privileges_position">
                    <option value="Basic Scout">None</option>
                    <option value="Basic Adult">Self</option>
                    <option selected="selected" value="Basic Scout">Basic Scout</option>
                </select>
            </div>
            <div class="form-group"><label class="required" for="manage_user_privileges_access_level">Access
                    level</label>
                <select class="form-control" name="manage_user_privileges[access_level]"
                    id="manage_user_privileges_access_level">
                    <option value="None">None</option>
                    <option value="Self">Self</option>
                    <option value="Household">Household</option>
                    <option value="Patrol/Den">Patrol/Den</option>
                    <option selected="selected" value="Unit">Unit</option>
                </select>
            </div>
            <div class="row">
                <div class="col-lg">
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-0">
                    <strong>Web Site Authoring Privileges</strong>
                    <div class="pl-5" id="group-0">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="4"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_4"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_4">Manage documents: Add, edit, or delete
                                    items from the troop library, photo albums, and recommended links.</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="11"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_11"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_11">Edit web pages: Create, edit, and delete
                                    web pages.</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="34"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_34"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_34">Manage sign up sheets: Add, edit, and
                                    delete sign up sheets</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="35"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_35"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_35">Manage announcements: Create, edit, and
                                    delete announcements</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="36"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_36"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_36">Manage checklists: Create, edit, and
                                    delete checklists</label></div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-2">
                    <strong>Advancement Privileges</strong>
                    <div class="pl-5" id="group-2">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="14"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_14"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_14">Edit achievement records: Edit user
                                    achievement records</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="21"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_21"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_21">Manage training: Create, update, and
                                    delete unit training records</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="28"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_28"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_28">Use scoutbook/ia2.0 features: use
                                    Scoutbook/IA2.0 features to import and export data to Boy Scouts of America</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="40"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_40"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_40">Manage awards: Present and purchase
                                    awards</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="44"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_44"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_44">Manage community service: Add, edit, or
                                    delete outside participation for others</label></div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-4">
                    <strong>Calendar Privileges</strong>
                    <div class="pl-5" id="group-4">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="18"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_18"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_18">Manage events: Create, edit, and delete
                                    events</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="39"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_39"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_39">Manage public events: Create, edit, and
                                    delete events the general public are invited to.</label></div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-6">
                    <strong>Admin Privileges</strong>
                    <div class="pl-5" id="group-6">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="23"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_23"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_23">Manage troop settings: Change TroopTrack
                                    settings and basic information about your troop.</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="24"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_24"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_24">Manage privileges: Add and remove
                                    privileges for members of your unit</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="41"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_41"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_41">View inbox: View all emails sent through
                                    TroopTrack (Subdomain Emails Only)</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="42"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_42"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_42">Manage mailboxes: Add, edit, and delete
                                    email mailboxes (Subdomain Emails Only)</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="46"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_46"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_46">Manage chatterboxes: Create, edit, view,
                                    and participate in all chatterboxes</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="49"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_49"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_49">Manage mailing list: Manage Mailing
                                    List</label></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-1">
                    <strong>Member Management Privileges</strong>
                    <div class="pl-5" id="group-1">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="6"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_6"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_6">Manage troop members: Add, edit, or delete
                                    troop members</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="26"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_26"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_26">Manage user files: Add and delete
                                    user-specific files</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="27"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_27"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_27">View user files: View user-specific
                                    files</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="31"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_31"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_31">View and print troop roster: Read only
                                    access to see and print the troop roster</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="45"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_45"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_45">Manage membership applications: Manage
                                    Membership Applications</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="47"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_47"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_47">Manage medical book: Manage Medical
                                    Book</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="48"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_48"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_48">Edit user profile: Edit User
                                    Profile</label></div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-3">
                    <strong>Financial Privileges</strong>
                    <div class="pl-5" id="group-3">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="17"
                                    name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_17"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_17">Manage money accounts: Add debits and
                                    credits to youth money accounts</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="29"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_29"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_29">Manage fundraisers: Create fundraisers,
                                    manage products, and track sales</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="30"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_30"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_30">View all money accounts: Read only access
                                    to all money accounts</label></div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-5">
                    <strong>Equipment Privileges</strong>
                    <div class="pl-5" id="group-5">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="20"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_20"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_20">Manage equipment: Create, update, and
                                    delete unit equipment records</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="37"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_37"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_37">Manage library: Create, edit, and delete
                                    library books</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="50"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_50"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_50">Manage vehicles: Manage Vehicles</label>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" name="check_all_div" id="check_all_div" value="0" data-div-id="group-7">
                    <strong>Participant Privileges</strong>
                    <div class="pl-5" id="group-7">
                        <input value="" multiple="multiple" autocomplete="off" type="hidden"
                            name="manage_user_privileges[privileges][]" id="manage_user_privileges_privileges">
                        
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="25"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_25"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_25">Upload photos: Create photo albums and
                                    upload photos. Users with this privilege can only delete photos they
                                    uploaded.</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="43"
                                     name="manage_user_privileges[privileges][]"
                                    id="manage_user_privileges_privileges_43"><label class="form-check-label"
                                    for="manage_user_privileges_privileges_43">Manage own outside participation: Add,
                                    edit, or delete one's OWN outside participation</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="commit" value="Save" data-disable-with="Please wait..." class="btn btn-primary">
        </form>
    </div>
</body>

</html>